scrape_configs:
  - job_name: 'openvpn_exporter_metrics'
    static_configs:
      - targets:
          - '{{ hostvars['vm_target']['ansible_host'] }}:9176'
  - job_name: 'node_exporter_metrics'
    static_configs:
      - targets:
{% for host in groups['all_infra'] %}
          - '{{ hostvars[host]['ansible_host'] }}:9100'
{% endfor %}

rule_files:
  - "/etc/prometheus/alerts.yml"